In [1]:
import sqlite3
from faker import Faker

fake = Faker()

In [15]:
conn = sqlite3.connect('grocery_store.db')
c = conn.cursor()

In [3]:
c.execute("""
    CREATE TABLE customers (
        id INTEGER PRIMARY KEY,
        name TEXT,
        favorite_product TEXT
    )  """)

OperationalError: table customers already exists

In [4]:
c.fetchone()

In [5]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
c.fetchall()

[('customers',)]

In [6]:
res = c.execute("SELECT * FROM customers")
res.fetchall()

[]

In [7]:
c.execute(""" INSERT into customers Values(?,?,?)""", ('1','subbu','oreo'))

In [8]:
c.execute(""" INSERT into customers Values(?,?,?)""", ('2','kiran','chocolate'))

In [9]:
res = c.execute("SELECT * FROM customers")
res.fetchall()

[(1, 'subbu', 'oreo'), (2, 'kiran', 'chocolate')]

In [11]:
# CRUD operations
def create_customer(id, name, favorite_product):
    c.execute("INSERT INTO customers VALUES (?, ?, ?)", (id, name, favorite_product))

def read_customer(id):
    c.execute("SELECT * FROM customers WHERE id=?", (id,))
    return c.fetchone()

def update_customer(id, name, favorite_product):
    c.execute("UPDATE customers SET name=?, favorite_product=? WHERE id=?", (name, favorite_product, id))

def delete_customer(id):
    c.execute("DELETE FROM customers WHERE id=?", (id,))

In [17]:
pip install faker

Collecting faker
  Downloading faker-37.12.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from faker) (2025.1)
Downloading faker-37.12.0-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 35.2 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.12.0

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [19]:
import random

# List of sample products
products = [
    "Laptop", "Smartphone", "Tablet", "Smartwatch", "Camera",
    "Headphones", "Bluetooth Speaker", "Gaming Console", "Monitor", "Keyboard",
    "Mouse", "Printer", "Router", "Drone", "Fitness Tracker",
    "Power Bank", "VR Headset", "TV", "Microphone", "Smart Home Hub"
]

# Generate and insert 20 dummy records
for i in range(3, 21):
    name = fake.name()
    favorite_product = random.choice(products)
    create_customer(i, name, favorite_product)

# Display inserted records
c.execute("SELECT * FROM customers")
rows = c.fetchall()

print("Inserted 20 Customer Records:")
for row in rows:
    print(row)

Inserted 20 Customer Records:
(3, 'Karen Davis', 'VR Headset')
(4, 'Monica Mckinney', 'Power Bank')
(5, 'Stephen Ray', 'TV')
(6, 'Jon Armstrong', 'Keyboard')
(7, 'Ryan Weiss', 'Headphones')
(8, 'Sarah Brown', 'Headphones')
(9, 'Maria Roberts', 'Smartphone')
(10, 'Leroy Chandler', 'Monitor')
(11, 'Joseph Zimmerman', 'Router')
(12, 'Cynthia Price', 'Laptop')
(13, 'Brianna Mccoy', 'Smart Home Hub')
(14, 'Tina Smith', 'Drone')
(15, 'Miguel Bell', 'Power Bank')
(16, 'George Alexander', 'Bluetooth Speaker')
(17, 'Miguel Moore', 'Printer')
(18, 'Richard Moore', 'Power Bank')
(19, 'Casey Stewart', 'TV')
(20, 'Charles Williams', 'VR Headset')

In [20]:
print(read_customer(5))

(5, 'Stephen Ray', 'TV')

In [23]:
update_customer('3', 'karan','potato chips')

In [24]:
c.execute("""SELECT * FROM customers """).fetchall()

[(3, 'karan', 'potato chips'),
 (4, 'Monica Mckinney', 'Power Bank'),
 (5, 'Stephen Ray', 'TV'),
 (6, 'Jon Armstrong', 'Keyboard'),
 (7, 'Ryan Weiss', 'Headphones'),
 (8, 'Sarah Brown', 'Headphones'),
 (9, 'Maria Roberts', 'Smartphone'),
 (10, 'Leroy Chandler', 'Monitor'),
 (11, 'Joseph Zimmerman', 'Router'),
 (12, 'Cynthia Price', 'Laptop'),
 (13, 'Brianna Mccoy', 'Smart Home Hub'),
 (14, 'Tina Smith', 'Drone'),
 (15, 'Miguel Bell', 'Power Bank'),
 (16, 'George Alexander', 'Bluetooth Speaker'),
 (17, 'Miguel Moore', 'Printer'),
 (18, 'Richard Moore', 'Power Bank'),
 (19, 'Casey Stewart', 'TV'),
 (20, 'Charles Williams', 'VR Headset')]

In [19]:
delete_customer('2')

In [18]:
c.execute("""SELECT * FROM customers """).fetchall()

[]

In [ ]:
# c.execute("""DROP Table customers """)

In [ ]:
# c.execute("""SELECT * FROM customers """).fetchall()

In [29]:
conn.commit()

# Close the connection
c.close()